Fabric_Data/pipeline1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation"
              }
            },
            "linkedService": {
              "name": "LH_55oo",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "2f4b4c86-2572-8964-44a7-28003ec3dccc",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get folder Metadata",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get folder Metadata').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "7dd443de-e7b4-bf32-4473-e76c14ebc615",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "FolderName": {
                    "value": "@item().name",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "execute child pipeline",
              "dependsOn": []
            }
          ]
        },
        "name": "loop the folders",
        "dependsOn": [
          {
            "activity": "Get folder Metadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}